button{
    background-color: lightgreen;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
#para{
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: aliceblue;
}